# Database
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=

# Rails
RAILS_MAX_THREADS=5
WEB_CONCURRENCY=1
APP_PUBLIC_URL=
OFFICE_NAME="Kayran Advocacia"
ADMIN_EMAIL="admin@matrizjuridica.com"
ADMIN_PASSWORD="admin123"

# PJe MA
PJE_MA_BASE_URL="https://SEU-ENDPOINT-BASE"
PJE_MA_ACCESS_TOKEN="SEU-TOKEN"
PJE_MA_PROCESSOS_PATH="/api/v1/processos"
PJE_MA_ANDAMENTOS_PATH="/api/v1/andamentos"
PJE_MA_PRAZOS_PATH="/api/v1/prazos"
