# PJe MA
PJE_MA_BASE_URL="https://SEU-ENDPOINT-BASE"
PJE_MA_ACCESS_TOKEN="SEU-TOKEN"
PJE_MA_PROCESSOS_PATH="/api/v1/processos"
PJE_MA_ANDAMENTOS_PATH="/api/v1/andamentos"
PJE_MA_PRAZOS_PATH="/api/v1/prazos"
